<!-- html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>華東ERP客制化</title>
<!-- css -->
<style type="text/css">
<!--
body {
	background-color: #FFFFFF;
	background-image: url(images/index/bg.gif);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
table {
  border:5px black solid;
}
td {
  border:3px black solid;
}
-->
</style>
<link href="/images/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <!--畫面-->
  <table style="border:13px black solid ;" >
    <tr>
      <td>Menu
        <table>
          <tr><td><a href='#'>INVENTORY</a></td><tr>
          <tr><td><a href='#'>BOM</a></td><tr>
          <tr><td><a href='#'>COST</a></td><tr>
          <tr><td><a href='#'>OM110</a></td><tr>
          <tr>
        </table>
      </td>
      <td>
        功能主畫面
      </td>
    </tr>
  </table>
</body>
</html>

<!-- javascript -->
<script type="text/JavaScript">
</script>

